.btn{
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.btn--primary {
    background-color: #7B80ED;
}
.btn--primary:hover{
    background-color: #9FA2ed;

}

.btn--secondary {
    background-color: #70817E;
}

.btn--small {
    font-size: 14px;
}

.btn--medium {
    font-size: 18px;
}