.cart-menu {
    position: absolute;
    top: 30px;
    left: -300px;
    background-color: #DBDFF0;
    width: 400px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;
    opacity: 0.9;
    -webkit-box-shadow: 2px 4px 31px 9px rgba(38, 40, 41, 0.2);
-moz-box-shadow: 2px 4px 31px 9px rgba(38, 40, 41, 0.2);
box-shadow: 2px 4px 31px 9px rgba(38, 40, 41, 0.2);

}

.cart-menu__arrange {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}