.cart-game {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-game__price {
    display: flex;
    align-items: center;
}

.cart-item__delete-icon {
    margin-left: 5px;
    cursor: pointer;
}
.cart-game__image{
    height: 70px;
    width: 20%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
